* {
  padding: 0;
  margin: 0;
}

/* CSS RESET */

body {
  background: hsl(204, 43%, 93%);
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

main {
  grid-auto-columns: 1fr;
  box-sizing: border-box;
  display: grid;
  width: 50%;
  margin: 50px auto;
  grid-template-areas:
    "para para"
    "monthly point";
  justify-content: center;
}

.para-text {
  padding: 50px;
  background: white;
  grid-area: para;
}

.para-text h1 {
  margin: 10px auto;
  color: hsl(179, 62%, 43%);
}

.para-text h2 {
  margin: 10px auto;
  color: hsl(71, 73%, 54%);
}

.para-text p {
  margin: 10px auto;
  color: hsl(218, 22%, 67%);
}

/* ! */

.monthly {
  padding: 50px;
  background: hsl(179, 62%, 43%);
  grid-area: monthly;
}

.monthly h2 {
  margin: 10px auto;
  color: white;
}

.price {
  margin: 20px auto;
}

.monthly .money {
  color: white;
  font-size: 2em;
  font-weight: 700;
}

.monthly .per-month {
  padding: 10px;
  color: hsl(204, 43%, 93%);
}

.monthly p {
  margin: 10px auto;
  margin-bottom: 30px;
  color: white;
}

h3 {
  color: white;
}

.button {
  background: hsl(71, 73%, 54%);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}

.monthly .button h3 {
  color: white;
  text-align: center;
}

/* ! */
.why {
  padding: 50px;
  background: #6abecd;
  grid-area: point;
}

.why h3 {
  margin: auto auto;
}

.why ul {
  margin-top: 20px;
}

ul li {
  list-style: none;
  line-height: 1.5em;
  color: hsl(204, 43%, 93%);
}

@media screen and (max-width: 768px) {
  main {
    grid-template-areas:
      "para"
      "monthly"
      "point";
    width: 90%;
  }
}
